# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/



# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Media files (optional, if not stored in repo)
media/

# Static files
staticfiles/
static/

# Local settings
.env
*.env
.settings/

# VSCode settings (optional)
.vscode/

# macOS files
.DS_Store

# Coverage and test reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml
nosetests.xml
test-results/

# MyPy
.mypy_cache/

# PyCharm
.idea/

# Build and packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Celery
celerybeat-schedule
celerybeat.pid

# Pipenv
Pipfile.lock

# pytest
.cache

# Docker
*.pid
*.tar
*.gz
